@import url('https://fonts.googleapis.com/css?family=Cairo');

* {
    font-family: 'Cairo', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333333;
}

nav ul li {
    float: left;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    padding: 4px 4px;
}

nav img {
  display: table-cell;
  vertical-align: middle;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #f37b21;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.imagecontainer {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 94.5vh;
}

.linkbox {
    display: inline-block; 
    background-size: 101% 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    text-align: center;
    float: left;
}

.hl1 {
    background-image: url('../img/halflife1.jpg');
}

.hl2 {
    background-image: url('../img/halflife2.jpg');
}

.hl2e1 {
    background-image: url('../img/halflife2e1.jpg');
}

.hl2e2 {
    background-image: url('../img/halflife2e2.jpg');
}

.linkbox p {
    position: relative;
    top: 34%;
    font-size: 40px;
    font-weight: 100;
    text-shadow: 0 0 3px black;
}

.linkbox a {
    color: #f1f1f1;
    text-decoration: none;
}

.linkbox a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}