@import url('https://fonts.googleapis.com/css?family=Cairo');

* {
    font-family: 'Cairo', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333333;
}

nav ul li {
    float: left;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    padding: 4px 4px;
}

nav img {
  display: table-cell;
  vertical-align: middle;
}

.dropdown, .nav ul li a {
    transition: all .35s ease;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #f37b21;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.maincontainer {
    margin: auto;
    padding: 5px 15px;
    max-width: 1000px;
    border: 2px solid #6d6d6d;
    background-color: #ffffff;
}

.maincontainer h1 {
    line-height: 7px;
}

.maincontainer h2 {
    line-height: 13px;
}

.maincontainer h3 {
    line-height: 13px;
}

.maincontainer p {
    line-height: 18px;
}

.linkbutton {
    width: 120px;
    height: 11px;
    padding: 10px 2px;
    border: 2px solid #6d6d6d;
    text-align: center;
    background: #f37b21;
    font-weight: bold;
    color: #444;
    line-height: 10px;
}

.linkbutton a {
	text-decoration: none;
	color: white;
}

.linkbutton a:hover {
	text-decoration: underline;
}

.slideshow-container {
    max-width: 1030px;
    position: relative;
    margin: auto;
}

.slides img {
    box-shadow: 0 0 6px black;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.scrollToTop{
    width: 84px;
    height: 11px;
    padding: 10px;
    border: 2px solid #6d6d6d;
    text-align: center;
    background: white;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 12px;
    right: 14px;
    display: none;
    line-height: 10px;
    z-index: 1;
}

.scrollToTop:hover{
    text-decoration:none;
}